<% provide(:title, "Help") %>
<h1>Help</h1>
<p>Get help on the Ruby on Rails tutorial at the <a href="railstutorial.org/#help">Rails Tutorial Help section</a></p>
<p>To get help on this sample app, see the <a href="railstutorial.org/book"><em>Ruby on Rails Tutorial</em></a></p>
